In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\hp\Downloads\purchase_data_exe.csv')

In [11]:
data.head()

,date,customer_id,product_category,payment_method,value [USD],time_on_site [Minutes],clicks_in_site,Unnamed: 7
0,20/11/2018,37077,505,credit,49.53,12.0,8,NaN
1,20/11/2018,59173,509,paypal,50.61,25.9,8,NaN
2,20/11/2018,41066,507,credit,85.99,34.9,11,NaN
3,20/11/2018,50741,506,credit,34.60,16.5,9,NaN
4,20/11/2018,53639,515,paypal,266.27,43.1,30,NaN

In [14]:
data.index # number of rows

RangeIndex(start=0, stop=24999, step=1)

In [17]:
len(data.columns)

8

**average of value[USD]**

In [18]:
data['value [USD]'].mean()

203.24876315052603

**max and min value**

In [19]:
data['value [USD]'].min()

0.0

In [20]:
data['value [USD]'].max()

2177.04

**how many people have adopted the paypal as their payment method**

In [25]:
data[data['payment_method']=='paypal']['payment_method'].value_counts()

paypal    10540
Name: payment_method, dtype: int64

**now lets check that how many purchases has done on 20/11/2018**

In [27]:
data[data['date']=='20/11/2018']['date'].value_counts()

20/11/2018    2211
Name: date, dtype: int64

**lets find the most common clicks in site**

In [31]:
data['clicks_in_site'].value_counts().head()

7     3249
6     2354
8     2256
9     1828
10    1543
Name: clicks_in_site, dtype: int64

**the customer id with 56369 adopted which of payment method**

In [32]:
data[data['customer_id']==56369]['payment_method']

22285    paypal
Name: payment_method, dtype: object

**how many people have spent time more than 20 minutes on site**

In [36]:
data[data['time_on_site [Minutes]']>20.0].count()

date                      14637
customer_id               14637
product_category          14637
payment_method            14637
value [USD]               14637
time_on_site [Minutes]    14637
clicks_in_site            14637
Unnamed: 7                    0
dtype: int64